/* ==UserScript==
// @description    author style injected to browser.xhtml
// ==/UserScript==*/

/* Default to xul namespace */
@namespace url("http://www.mozilla.org/keymaster/gatekeeper/there.is.only.xul");

/* Example - this creates a small dot to appear in the top left corner of devtools-button popup - but not in any other panel */
#customizationui-widget-panel[viewId="PanelUI-developer-tools"]::part(content)::before{
 content: "";
  display: flex;
  position: relative;
  z-index: 2;
  width: 9px;
  margin-inline-end: -9px;
  background-image: radial-gradient(currentcolor,currentcolor,transparent 90%);
  background-size: 5px 5px;
  background-position: 4px 4px;
  background-repeat: no-repeat;
}
